header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
    background-color: white;

    position: sticky;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: hsl(233, 8%, 62%);
    border-bottom: 4px solid transparent;
}

header nav a:hover {
    color: inherit;
    border-bottom: 4px solid hsl(136, 65%, 51%);
}

header button {
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    color: white;
    background: linear-gradient(hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    cursor: pointer;
}
